<p id="notice"><%= notice %></p>

<h1 class="pokemon-title">Pokemon</h1>

<p class="link">
  <% if (current_user && current_user.admin) %>
    <%= link_to 'New Pokemon', new_pokemon_path %>
  <% end %>

  <%= link_to 'View Generations', generations_path %>
</p>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Main Type</th>
      <th scope="col">Secondary Type</th>
      <th scope="col">Generation</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %>"></td>
        <td><%= pokemon.name.capitalize %></td>
        <td><%= pokemon.type1.capitalize %></td>
        <% if (pokemon.type2) %>
          <td><%= pokemon.type2.capitalize %></td>
        <% else %>
          <td><%= pokemon.type2 %></td>
        <% end %>
        <td><%= pokemon.generation_id %></td>
        <td><%= link_to 'Show', pokemon %></td>
        <% if (current_user && current_user.admin) %>
          <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
          <td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="link">
  <% if (current_user && current_user.admin) %>
    <%= link_to 'New Pokemon', new_pokemon_path %>
  <% end %>

  <%= link_to 'View Generations', generations_path %>
</p>
