<p id="notice"><%= notice %></p>

<h1>Pokemon</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Main Type</th>
      <th scope="col">Secondary Type</th>
      <th scope="col">Generation</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %>"></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.type1 %></td>
        <td><%= pokemon.type2 %></td>
        <td><%= pokemon.generation_id %></td>
        <td><%= link_to 'Show', pokemon %></td>
        <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
        <td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokemon', new_pokemon_path %>
<%= link_to 'View Generations', generations_path %>
