<p id="notice"><%= notice %></p>

<p>
  <img src="<%=@pokemon.sprite%>" alt="<%=@pokemon.name%>" height="200" width="200">
</p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Main Type:</strong>
  <%= @pokemon.type1 %>
</p>

<p>
  <strong>Secondary Type:</strong>
  <%= @pokemon.type2 %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @pokemon.hp %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @pokemon.attack %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @pokemon.defense %>
</p>

<p>
  <strong>Sp.attack:</strong>
  <%= @pokemon.sp_attack %>
</p>

<p>
  <strong>Sp.defense:</strong>
  <%= @pokemon.sp_defense %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @pokemon.speed %>
</p>

<p>
  <strong>Native region:</strong>
  <%= @pokemon.generation.region %>
</p>

<p>
  <strong>Evolution line</strong>
</p>

<div class="evolution-box">
  <% for i in 0..(@pokemon_array.length - 1) do %>
    <% if (@pokemon_array[i].length > 2) %>
    <div class="split-entries">
      <% for j in 0..(@pokemon_array[i].length - 1) do %>
        <div class="group-method-sprite">
          <p><%=@pokemon_array[i][j].evolution_method%></p><a href="/pokemons/<%=@pokemon_array[i][j].id%>"><img src="<%=@pokemon_array[i][j].sprite%>" alt="<%=@pokemon_array[i][j].name %>"></a>
        </div>
      <% end %>
    </div>
    <% else %>
    <div class="regular-entries">
      <p><%=@pokemon_array[i][0].evolution_method%></p><a href="/pokemons/<%=@pokemon_array[i][0].id%>"><img src="<%=@pokemon_array[i][0].sprite%>" alt="<%=@pokemon_array[i][0].name %>"></a>
    </div>
    <% end %>
  <% end %>
</div>

<% if (current_user && current_user.admin) %>
  <%= link_to 'Edit', edit_pokemon_path(@pokemon) %>
<% end %>

<%= link_to 'Back', pokemons_path %>
