
<p id="notice"><%= notice %></p>

<p>
  <img src="<%=@pokemon.sprite%>" alt="<%=@pokemon.name%>" height="200" width="200">
</p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Main Type:</strong>
  <%= @pokemon.type1 %>
</p>

<p>
  <strong>Secondary Type:</strong>
  <%= @pokemon.type2 %>
</p>

<div class="outer-box">
  <div class="stat-names">
    <div class="wrap">
      <strong>Hp:</strong>
      <p id="hp"><%= @pokemon.hp %></p>
    </div>
  </div>
  <div class="bar-box">
    <div class="bar" id="red-bar">
    </div>
  </div>
</div>

<div class="outer-box">
  <div class="stat-names">
    <div class="wrap">
      <strong>Attack:</strong>
      <p id="attack"><%= @pokemon.attack %></p>
    </div>
  </div>
  <div class="bar-box">
    <div class="bar" id="orange-bar">
    </div>
  </div>
</div>

<div class="outer-box">
  <div class="stat-names">
    <div class="wrap">
      <strong>Defense:</strong>
      <p id="defense"><%= @pokemon.defense %></p>
    </div>
  </div>
  <div class="bar-box">
    <div class="bar" id ="yellow-bar">
    </div>
  </div>
</div>

<div class="outer-box">
  <div class="stat-names">
    <div class="wrap">
      <strong>Sp.Attack:</strong>
      <p id="sp-attack"><%= @pokemon.sp_attack %></p>
    </div>
  </div>
  <div class="bar-box">
    <div class="bar" id="blue-bar">
    </div>
  </div>
</div>

<div class="outer-box">
  <div class="stat-names">
    <div class="wrap">
      <strong>Sp.Defense:</strong>
      <p id="sp-defense"><%= @pokemon.sp_defense %></p>
    </div>
  </div>
  <div class="bar-box">
    <div class="bar" id="green-bar">
    </div>
  </div>
</div>

<div class="outer-box">
  <div class="stat-names">
    <div class="wrap">
      <strong>Speed:</strong>
      <p id="speed"><%= @pokemon.speed %></p>
    </div>
  </div>
  <div class="bar-box">
    <div class="bar" id="pink-bar">
    </div>
  </div>
</div>

<p>
  <strong>Native region:</strong>
  <%= @pokemon.generation.region %>
</p>

<p>
  <strong>Evolution line</strong>
</p>

<div class="evolution-box">
  <% for i in 0..(@pokemon_array.length - 1) do %>
    <% if (@pokemon_array[i].length > 2) %>
    <div class="split-entries">
      <% for j in 0..(@pokemon_array[i].length - 1) do %>
        <div class="group-method-sprite">
          <p><%=@pokemon_array[i][j].evolution_method%></p><a href="/pokemons/<%=@pokemon_array[i][j].id%>"><img src="<%=@pokemon_array[i][j].sprite%>" alt="<%=@pokemon_array[i][j].name %>"></a>
        </div>
      <% end %>
    </div>
    <% else %>
    <div class="regular-entries">
      <p><%=@pokemon_array[i][0].evolution_method%></p><a href="/pokemons/<%=@pokemon_array[i][0].id%>"><img src="<%=@pokemon_array[i][0].sprite%>" alt="<%=@pokemon_array[i][0].name %>"></a>
    </div>
    <% end %>
  <% end %>
</div>

<% if (current_user && current_user.admin) %>
  <%= link_to 'Edit', edit_pokemon_path(@pokemon) %>
<% end %>

<%= link_to 'Back', pokemons_path %>

<script type="text/javascript">
  function red() {
    var value = document.getElementById("hp");
    var number = parseInt(value.innerHTML)
    var pixels = ((number/200)*550).toString();
    var string = pixels + "px";
    document.getElementById("red-bar").style.width = string;
  };
  function orange() {
    var value = document.getElementById("attack");
    var number = parseInt(value.innerHTML)
    var pixels = ((number/200)*550).toString();
    var string = pixels + "px";
    document.getElementById("orange-bar").style.width = string;
  };
  function yellow() {
    var value = document.getElementById("defense");
    var number = parseInt(value.innerHTML)
    var pixels = ((number/200)*550).toString();
    var string = pixels + "px";
    document.getElementById("yellow-bar").style.width = string;
  };
  function blue() {
    var value = document.getElementById("sp-attack");
    var number = parseInt(value.innerHTML)
    var pixels = ((number/200)*550).toString();
    var string = pixels + "px";
    document.getElementById("blue-bar").style.width = string;
  };
  function green() {
    var value = document.getElementById("sp-defense");
    var number = parseInt(value.innerHTML)
    var pixels = ((number/200)*550).toString();
    var string = pixels + "px";
    document.getElementById("green-bar").style.width = string;
  };
  function pink() {
    var value = document.getElementById("speed");
    var number = parseInt(value.innerHTML)
    var pixels = ((number/200)*550).toString();
    var string = pixels + "px";
    document.getElementById("pink-bar").style.width = string;
  };
  red();
  orange();
  yellow();
  blue();
  green();
  pink();
</script>
