<p id="notice"><%= notice %></p>

<h1><% for i in 0..(@pokemon_array.length - 1) do %>
      <% if (@pokemon_array[i].length > 2) %>
        <% for j in 0..(@pokemon_array[i].length - 1) do %>
          <a href="/pokemons/<%=@pokemon_array[i][j].id%>">split <%=@pokemon_array[i][j].name%></a>
        <% end %>
      <% else %>
        <a href="/pokemons/<%=@pokemon_array[i][0].id%>"><%=@pokemon_array[i][0].name%></a>
      <% end %>
    <% end %>
</h1>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Type1:</strong>
  <%= @pokemon.type1 %>
</p>

<p>
  <strong>Type2:</strong>
  <%= @pokemon.type2 %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @pokemon.hp %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @pokemon.attack %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @pokemon.defense %>
</p>

<p>
  <strong>Sp.attack:</strong>
  <%= @pokemon.sp_attack %>
</p>

<p>
  <strong>Sp.defense:</strong>
  <%= @pokemon.sp_defense %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @pokemon.speed %>
</p>

<p>
  <strong>Native region:</strong>
  <%= @pokemon.generation.region %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
